body {
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	color:white;
	background-color:red;
}

h1{
	margin: 0 0 2px 0;
	text-transform: uppercase;
	text-align: center;
}
